*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: gotham rounded, sans-serif;
  //   background: linear-gradient(to right, red, rebeccapurple);
}

.row {
  border: 1px solid black;
  display: flex;
  width: fit-content;
  text-decoration: underline;
}

.square {
  margin: 1em;
}
