*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: gotham rounded, sans-serif;
}

body {
  background-color: rgb(102, 30, 31);
}

table {
  padding: 10px;
  padding-top: 110p;
  margin: auto;
}

td {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 50px;
  text-align: center;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.438);
  color: rgb(243, 255, 240);
}

.O,
.X {
  cursor: not-allowed;
}

.mainDiv {
  position: absolute;
}

#winMassage {
  font-size: 5em;
  position: absolute;
}

.disable {
  pointer-events: none;
}

.hidden {
  display: none;
}
