*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: gotham rounded, sans-serif;
}

body {
  background-color: rgb(102, 30, 31);
}

.O,
.X {
  cursor: not-allowed;
}

.disable {
  pointer-events: none;
}

.hidden#whileIsWin {
  display: none;
}

table {
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  min-width: 150px;
  height: 150px;
  font-size: 100px;
  text-align: center;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.329);
  color: rgb(243, 255, 240);
  transition: all ease-in-out 0.25s;
}

#whileIsWin {
  position: fixed;
  font-size: 3em;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

#winner {
  text-align: center;
  color: rgb(255, 255, 255);
}

#resetButton {
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: 5px solid rgb(0, 0, 0);
  color: black;
  padding: 10px;
  transition: all ease-in-out 0.25s;
}

#resetButton:hover {
  color: aliceblue;
  background-color: black;
  border: 5px solid rgb(253, 253, 253);
}
